div.runer form td div{
  width: 70px;
  margin: 0;
}
div.runer form td{
  box-sizing: border-box;
}
div.runer form th{
  text-align: center;
}
div.runer form td div input[type=text]{
  background: #757575;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  text-align: center;

}
div.runer form td div input{
  padding: 6px;
  margin: 0;
}
