{{ attach_library('bookkeeper/scripts_bookkeeper') }}

<input type="button" value="1 quarter report" onclick="Q1();">
<input type="button" value="2 quarter report" onclick="Q2();">
<input type="button" value="3 quarter report" onclick="Q3();">
<input type="button" value="4 quarter report" onclick="Q4();">
<input type="button" value="Year Report" onclick="YTD();">
<div class="runer" id="runer" >{{ run_render }}</div>


<div class="result" id="resulter" ></div>
